 * {
     font-family: 'Roboto', sans-serif
 }


 header {
     height: 51px;
     position: relative;
     background-color: #212121;
     z-index: 2;
     /* padding: 18px 0 19px 0; */
 }

 nav {
     position: fixed;
     width: 100%;
     height: 51px;
     background-color: #212121;
 }


 .list_menu {
     display: flex;
     justify-content: space-between;
     padding: 13px 70px;
     /* align-items: center; */
     list-style-type: none;

 }

 .item_menu a {

     font-size: 15px;
     font-weight: 300;
     font-style: normal;
     font-stretch: normal;
     letter-spacing: normal;
     text-align: left;
     color: #ffffff;

 }

 .item_menu {
     border-right: 2px dotted black;
     padding-right: 28px;
 }

 .logo-section {
     position: absolute;
     width: 100%;
     height: 84px;
     background-color: rgb(0, 0, 0, 0.6);
     z-index: 1;

 }

 .logo h2 {
     display: block;
     opacity: 0.5;
     margin-top: 6px;
     font-size: 13px;
     font-weight: 100;
     line-height: 13px;
     color: #ffffff;
 }

 .logo a {
     display: block;
     min-width: 100%;
     margin-top: 16px;
 }

 .call h2 {
     display: block;
     margin-top: 23px;
     font-size: 12px;
     font-weight: 300;
     text-align: right;
     line-height: 12px;
     color: #ffffff;
 }

 .call a {
     display: block;
     margin: 8px;
     font-size: 22px;
     line-height: 20px;
     text-align: center;
     color: #ffffff;

 }

 .call_btn {
     display: block;
     margin-top: 19px;
     width: 172px;
     height: 46px;
     border-radius: 4px;
     box-shadow: inset 0px -3px 0 0 rgba(0, 0, 0, 0.12);
     border: none;
     background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
     text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
     font-size: 14px;
     font-weight: 400;
     text-transform: uppercase;
     text-align: center;
     color: #ffffff;
     /* cursor: pointer; */
 }

 .promo {

     height: 799px;
     background: url('/images/main_bg.jpg') center center/cover no-repeat;
 }

 .title_text {
     display: block;
     margin-top: 151px;
     line-height: 42px;
     text-align: center;
     font-size: 60px;
     font-weight: 900;
     color: #ffffff;
 }

 .subtitle_text {
     display: block;
     margin-top: 22px;
     font-size: 36px;
     font-weight: bold;
     line-height: 36px;
     text-align: center;
     color: #ffffff;
 }

 .title_content {
     display: block;
     margin-top: 23px;
     font-size: 18px;
     font-weight: normal;
     font-style: normal;
     font-stretch: normal;
     line-height: 1.33;
     letter-spacing: normal;
     text-align: center;
     color: #ffffff;
 }

 .request_btn {
     display: block;
     margin: 118px auto 0 auto;
     width: 259px;
     height: 63px;
     box-shadow: inset 0px -4px 0 0 rgba(0, 0, 0, 0.12);
     border: none;

     background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff);
     text-shadow: 0.7px 0.7px 0 rgba(0, 0, 0, 0.21);
     border-radius: 4px;
     font-size: 18px;
     line-height: 3.78;
     letter-spacing: normal;
     text-align: center;
     color: #ffffff;

 }

 .causes-section {
     height: 900px;
     background-color: #ffffff;
 }

 .box_advantages {
     margin: 71px auto 0 auto;
     width: 112px;
     height: 24px;
     background-color: #000000;
     padding: 8px 11px 6px 12px;

 }

 .box_advantages h2 {
     font-size: 11px;
     font-weight: 100;
     font-style: normal;
     font-stretch: normal;
     line-height: 9px;
     letter-spacing: normal;
     text-align: center;
     text-transform: uppercase;
     color: #ffffff;
 }

 .main-title_causes {
     display: block;
     margin: 38px auto 0 auto;
     font-size: 38px;
     font-weight: bold;
     line-height: 30px;
     text-align: center;
     text-transform: uppercase;
     color: #222222;
 }

 .box_causes {
     display: block;
     margin-top: 40px;

 }

 .item_causes {
     display: flex;
     align-items: center;
     justify-content: center;
     margin-top: 35px;

 }

 .round_causes {
     display: flex;
     align-items: center;
     justify-content: center;
     width: 113px;
     height: 113px;
     border-radius: 100%;
     background-color: #1eacc7;
 }

 .text_causes .describe_causes {
     font-size: 15px;
     font-weight: 300;
     line-height: 21px;
     text-align: left;
     color: #202020;
 }

 .text_causes .title_causes {
     font-size: 17px;
     line-height: 21px;
     font-weight: 400;
     text-align: left;
     color: #1eacc7;
 }

 .text_causes {
     margin-left: 26px;
     width: 343px;

 }